<!doctype html>
<html lang="fr" translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="google" content="notranslate" />
    <link rel="icon" type="image/svg+xml" href="./assets/images/logoCom1.png" />
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ma-communaute</title>
    <script type="module" crossorigin src="/assets/index-DVL4-8Gy.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-DBx3t38L.css">
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
